

  <div class="form">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <span class='d-flex justify-content-between'> <%= f.input :first_name %>
    <%= f.input :last_name %> </span>
    <%= f.input :username %>
    <%= f.input :phone_number %>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Merci de confirmer votre mot de passe actuel",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>


    <span class="btn"><%= f.button :submit, "Mettre à jour" %>
    </span>
<% end %>
  </div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Retour", :back %>
</div>
<%= link_to "déconnexion", destroy_user_session_path, method:'delete' %>

