<div class="p-4">
<h2>Réserver <%= @offer.title %></h2>

<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :adress %>
  <%= f.input :date, as: :date, start_year: Date.today.year,
                             end_year: Date.today.year + 90, discard_year: true,
                             order: [:day, :month, :year] %>
  <%= f.submit "Reserver", class: "w-100 btn btn-primary" %>
<% end %>
</div>
