
<h1>Welcome <strong><%= @user.username %></strong></h1>

<div class="container">
  <div class="tab">
    <button class="tablinks active">Profil</button>
    <button class="tablinks">Offers</button>
    <button class="tablinks">Mission</button>
    <button class="tablinks">Reservations</button>
  </div>

  <div id="Profil" class="tabcontent">
    <h3>Informations Profil</h3>
    <p>
      <p>Username : <%= @user.username %></p>
      <p>Prénom : <%= @user.first_name %></p>
      <p>Nom : <%= @user.last_name %></p>
      <p>Email : <%= @user.email %></p>
      <p>Téléphone : <%= @user.phone_number %></p>
    </p>
  </div>

  <div id="Offers" class="tabcontent not-displayed">
    <h3>Mes offres</h3>
    <% if(@user.offers != []) %>
      <% @user.offers.each do |offer| %>
        <% p offer %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= offer.title %></h2>
            <p><%= offer.description %></p>
          </div>
          <%= link_to "Mettre à jour", edit_offer_path(offer.id), class:"btn" %>
        </div>
      <% end %>
    <% else %>
      <p>Vous n'avez pas d'offre en cours !</p>
    <% end %>
    <%= link_to "Publier une nouvelle offre", new_offer_path, class:"btn" %>
  </div>

  <div id="Mission" class="tabcontent not-displayed">
    <h3>Mes missions</h3>
    <% if(@user.offers != []) %>
      <% @user.offers.each do |offer| %>
        <div class="card text-center">
          <div class="card-header">
            <%= offer.category %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Mission</h5>
            <p class="card-text">
              <% offer.bookings.each do |booking| %>
                <ul>
                  <li><%= booking.description %></li>
                  <li><%= booking.adress %></li>
                </ul>

            </p>
            <%= link_to booking_accept_path(booking), method:'patch' do %>
            <button type="button" class="btn btn-success">Accepter</button>
            <% end %>
            <%= link_to booking_path(booking), method:'delete' do %>
            <button type="button" class="btn btn-danger">Refuser</button>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p>Vous n'avez pas d'offre en cours !</p>
      <%= link_to "Publier une nouvelle offre", new_offer_path, class:"btn" %>
    <% end %>
  </div>

  <div id="Reservations" class="tabcontent not-displayed">
    <h3>Vos réservations</h3>
    <% if(@user.bookings != []) %>
      <% @user.bookings.each do |booking| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= booking.description %></h2>
            <p><%= booking.adress %></p>
            <p><%= booking.date %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Vous n'avez pas de réservation !</p>
    <% end %>
    <%= link_to "Trouver un conjoint", root_path, class:"btn" %>
  </div>
</div>
