
<div class="banner profil-banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/02/19/11/32/tools-1209764_960_720.jpg);">
  <div class="container">
    <h1>Bienvenue <strong><%= @user.username %></strong>!</h1>
  </div>
</div>

<div class="container">
  <div class="tab d-flex justify-content-between">
    <button class="tablinks active">Annonces</button>
    <button class="tablinks">Missions</button>
    <button class="tablinks">Reservations</button>
  </div>

  <div id="Annonces" class="tabcontent">
    <h3>Mes annonces</h3>
    <% if(@user.offers != []) %>
      <div>
        <% @user.offers.each do |offer| %>
          <div class="card text-center" style="width: 18rem; margin-bottom: 7px; border-radius: 5px;">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="padding: 7px;">
              <h5 class="card-title"><%= offer.title %></h5>
              <p class="card-text"><%= offer.description %></p>
              <p class="card-text">Pour le : <%= offer.date %></p>
              <div class="card-link-annonce d-flex justify-content-around">
                <p><%= link_to "Mettre à jour", edit_offer_path(offer.id), class:"btn" %></p>
                <p style="font-size: 30px; color: #f38c73;">
                  <%= link_to offer_path(offer), method:"delete" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Vous n'avez pas d'offre en cours !</p>
    <% end %>
    <%= link_to "Publier une nouvelle offre", new_offer_path, class:"btn mt-3" %>
  </div>

  <div id="Missions" class="tabcontent not-displayed">
    <h3>Mes missions</h3>
    <% if(@user.offers != []) %>
      <% @user.offers.each do |offer| %>
        <% offer.bookings.each do |booking| %>
          <div class="card text-center mb-4">
            <div class="card-header">
              <%= offer.category %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Mission</h5>
              <p class="card-text">
                  <ul>
                    <li><%= booking.description %></li>
                    <li><%= booking.adress %></li>
                    <li>Le : <%= offer.date %></li>
                  </ul>
              </p>

              <% if booking.status %>
                <p>mission acceptée !</p>
              <% else %>
                <%= link_to "Accepter", booking_accept_path(booking), method:"patch", class:"btn" %>
              <% end %>
              <%= link_to booking_path(booking), method:'delete' do %>
                <button type="button" class="btn">Refuser</button>
              <% end %>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>Vous n'avez pas d'offre en cours !</p>
      <%= link_to "Publier une nouvelle offre", new_offer_path, class:"btn" %>
    <% end %>
  </div>

  <div id="Reservations" class="tabcontent not-displayed">
    <h3>Vos réservations</h3>
    <% if(@user.bookings != []) %>
      <% @user.bookings.each do |booking| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= booking.description %></h2>
            <p><%= booking.adress %></p>
            <p><%= booking.date %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Vous n'avez pas de réservation !</p>
    <% end %>
    <%= link_to "Trouver un conjoint", root_path, class:"btn" %>
  </div>
</div>
