<h1>Welcome <strong><%= @user.username %></strong></h1>


<div class="tab">
  <button class="tablinks active">Profil</button>
  <button class="tablinks">Offers</button>
  <button class="tablinks">Tokyo</button>
</div>

<div id="Profil" class="tabcontent">
  <h3>Informations Profil</h3>
  <p>
    <p>Username : <%= @user.username %></p>
    <p>Prénom : <%= @user.first_name %></p>
    <p>Nom : <%= @user.last_name %></p>
    <p>Email : <%= @user.email %></p>
    <p>Téléphone : <%= @user.phone_number %></p>
  </p>
</div>

<div id="Offers" class="tabcontent not-displayed">
  <h3>My offers</h3>
  <p>

  </p>
</div>

<div id="Tokyo" class="tabcontent not-displayed">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
