
<div class="footer-container d-flex justify-content-around fixed-bottom">

    <%= link_to "/", class: "card" do %>
      <i class="fas fa-search"></i>
      <h5 class="card-title">Chercher</h5>
    <% end %>


    <%= link_to new_offer_path, class: "card" do %>
      <i class="far fa-plus-square"></i>
      <h5 class="card-title">Publier</h5>
    <% end %>

    <%= link_to user_path(current_user), class: "card" do %>
      <i class="far fa-calendar-alt"></i>
      <h5 class="card-title">Missions</h5>
    <% end %>

    <%= link_to user_path(current_user), class: "card" do %>
      <i class="far fa-comment-alt"></i>
      <h5 class="card-title">Messages</h5>
    <% end %>

    <%= link_to user_path(current_user), class: "card" do %>
      <i class="far fa-user"></i>
      <h5 class="card-title">Profil</h5>
    <% end %>
 </div>
