<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/33343/building-joy-planning-plans.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1 id="title">Loue mon conjoint </h1>
    <p><span id="banner-typed-text"></span></p>
    <a class="btn" href="/offers/new">Publier une annonce</a>
  </div>
</div>


<div class="category-container overflow-auto">

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'bricolage.png'%>)">
      Bricolage
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'couture.png'%>)">
      Couture
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'decoration.png'%>)">
      Décoration
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'demenagement.png'%>)">
      Déménagement
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'electricite.png'%>)">
      Electricité
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'electromenager.png'%>)">
      Electroménager
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'jardinage.png'%>)">
      Jardinage
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'peinture.png'%>)">
      Peinture
    </div>
  <% end %>

  <%= link_to offers_path do %>
    <div class="cards-category" style="background-image: url( <%= image_path 'petits-travaux.png'%>)">
      Petits travaux
    </div>
  <% end %>

</div>
